# genome FASTA files
data/**/*.fa

# todo
todo.md

# all big result files
results/*
completed/*

# work in progress
wip/*

# ds stores
.DS_Store
**/.DS_Store

# all temp files
scripts/**/*.pyc

# 560 vcf file
input/vcfs/560.txt
NEURAL_NETWORK.md
